<a href="https://colab.research.google.com/github/noushadkhan01/Projects/blob/master/Deep-Learning/ANN/Classification/ANN_model_for_classification_on_Chunk_dataset_for_bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import time
start = time.time()
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('https://bit.ly/2QMuIPs')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [9]:
df.shape

(10000, 14)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [11]:
df.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

## check for null values

In [12]:
df.isnull().sum().sort_values(ascending = False)[:2]

Exited             0
EstimatedSalary    0
dtype: int64

**^^as u can see there is no null value**

In [13]:
df.skew()

RowNumber          0.000000
CustomerId         0.001149
CreditScore       -0.071607
Age                1.011320
Tenure             0.010991
Balance           -0.141109
NumOfProducts      0.745568
HasCrCard         -0.901812
IsActiveMember    -0.060437
EstimatedSalary    0.002085
Exited             1.471611
dtype: float64

In [14]:
np.log1p(df.Age).skew()

0.20336041516983316

## import important dependencies

In [0]:
import tensorflow as tf
from tensorflow import keras

In [16]:
df.head(1)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1

[1 rows x 14 columns]

In [17]:
df = df.iloc[:, 3:]
df.head(1)

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1

[1 rows x 11 columns]

In [18]:
df = pd.get_dummies(df, drop_first = True)
df.head(1)

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0

[1 rows x 12 columns]

In [19]:
X = df.drop('Exited', 1)
y = df.Exited
X.shape, y.shape

((10000, 11), (10000,))

## StandardScaler

We need to scale out data before applying to neural network becuase of speed

In [0]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.3, random_state = 0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((7000, 11), (3000, 11), (7000,), (3000,))

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()

In [24]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train[:1], X_test[:1]

(array([[-0.09792126, -0.55759842, -1.03635146,  1.13249447,  0.81039385,
          0.64198477,  0.96683535, -0.76862426, -0.56987189, -0.5731713 ,
          0.92295821]]),
 array([[-0.55032881, -0.36597914,  1.0436811 ,  0.89172052, -0.92971564,
          0.64198477,  0.96683535,  1.61245299,  1.75478035, -0.5731713 ,
         -1.08347268]]))

In [25]:
y_train = y_train.values
y_test = y_test.values
y_train[:2], y_test[:2]

(array([1, 0]), array([0, 1]))

# Make ANN

In [0]:
from tensorflow import keras

## import Sequential from keras
**it is required to initialize our neural network model**

### Step 1:- create ann model by sequential

In [27]:
#1 first initialize our keras model by Sequential
model = keras.models.Sequential()
model

### Step 2:- Add dense layer

if a data is linenarly separable then their is no need to add hidden layer or don't even need a neural networks by convention

**Tip:-- ** no. of nodes in hidden layers is the average of no. of nodes in input layers and no. of node in output layer

In [28]:
ninput = 11 #no of independent variables
noutput = 1 #output is either 1 or either 0 so no of hidden layers in output is 1
nhidden = (ninput + noutput) / 2
nhidden

6.0

In [29]:
model.add(keras.layers.Dense(units = 6, activation = tf.nn.relu, input_dim = 11))

WARNING: Logging before flag parsing goes to stderr.
W0808 15:26:03.914803 140431107536768 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [30]:
model

### add 2nd layer

In [31]:
model.add(keras.layers.Dense(units = 6, activation = tf.nn.relu))
model

### Step 3:- add output layer

**there are two types of activation function for output of categorical varibles **
- 1**softmax**, which is used when dependent varible have more than two categorical variables
- 2 **sigmoid** , which is used when dependent varable have 2 categorical variables

In [0]:
model.add(keras.layers.Dense(units = 1, activation = tf.nn.sigmoid))

In [33]:
model

In [34]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

## Step 4:-- compile the model
apply stochastic gradient descent method

In [35]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model

W0808 15:26:04.142704 140431107536768 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

###all step in one one method

In [0]:
def create_model():
  import tensorflow as tf
  model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(6, activation = tf.nn.relu, input_dim = 11),
    tf.keras.layers.Dense(6, activation = tf.nn.relu),
    tf.keras.layers.Dense(1, activation = tf.nn.sigmoid)])
  model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
  return model

### Step 5:-- fit the model

batch_size = no. of observation afterwhich u want to update the weights

In [0]:
import os
checkpoint_path = "training_1/cp.ckpt"
checkpoint_dir = os.path.dirname(checkpoint_path)

# Create checkpoint callback
cp_callback = tf.keras.callbacks.ModelCheckpoint(checkpoint_path,
                                                 save_weights_only=True,
                                                 verbose=1)

In [38]:
model.fit(X_train, y_train, batch_size = 10 , epochs = 70,verbose = 1,  class_weight = 'balanced', 
          validation_data = (X_test, y_test), callbacks = [cp_callback])

Train on 7000 samples, validate on 3000 samples
Epoch 1/70
6650/7000 [===========================>..] - ETA: 0s - loss: 0.5145 - acc: 0.7968
Epoch 00001: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 2s 224us/sample - loss: 0.5114 - acc: 0.7973 - val_loss: 0.4696 - val_acc: 0.7930
Epoch 2/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.4500 - acc: 0.7985
Epoch 00002: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.4485 - acc: 0.7997 - val_loss: 0.4412 - val_acc: 0.8013
Epoch 3/70
6660/7000 [===========================>..] - ETA: 0s - loss: 0.4345 - acc: 0.8081
Epoch 00003: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.4336 - acc: 0.8083 - val_loss: 0.4298 - val_acc: 0.8140
Epoch 4/70
6730/7000 [===========================>..] - ETA: 0s - loss: 0.4244 - acc: 0.8156
Epoch 00004: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.4260 - acc: 0.8144 - val_loss: 0.4234 - val_acc: 0.8173
Epoch 5/70
6910/7000 [============================>.] - ETA: 0s - loss: 0.4192 - acc: 0.8164
Epoch 00005: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.4187 - acc: 0.8167 - val_loss: 0.4142 - val_acc: 0.8217
Epoch 6/70
6870/7000 [============================>.] - ETA: 0s - loss: 0.4103 - acc: 0.8236
Epoch 00006: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 144us/sample - loss: 0.4091 - acc: 0.8243 - val_loss: 0.4046 - val_acc: 0.8303
Epoch 7/70
6720/7000 [===========================>..] - ETA: 0s - loss: 0.3999 - acc: 0.8289
Epoch 00007: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3999 - acc: 0.8289 - val_loss: 0.3952 - val_acc: 0.8367
Epoch 8/70
6770/7000 [============================>.] - ETA: 0s - loss: 0.3890 - acc: 0.8352
Epoch 00008: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3909 - acc: 0.8339 - val_loss: 0.3866 - val_acc: 0.8400
Epoch 9/70
6880/7000 [============================>.] - ETA: 0s - loss: 0.3824 - acc: 0.8385
Epoch 00009: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3815 - acc: 0.8386 - val_loss: 0.3774 - val_acc: 0.8453
Epoch 10/70
6640/7000 [===========================>..] - ETA: 0s - loss: 0.3728 - acc: 0.8422
Epoch 00010: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3743 - acc: 0.8423 - val_loss: 0.3708 - val_acc: 0.8453
Epoch 11/70
6680/7000 [===========================>..] - ETA: 0s - loss: 0.3676 - acc: 0.8448
Epoch 00011: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3678 - acc: 0.8451 - val_loss: 0.3666 - val_acc: 0.8473
Epoch 12/70
6720/7000 [===========================>..] - ETA: 0s - loss: 0.3622 - acc: 0.8500
Epoch 00012: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3626 - acc: 0.8497 - val_loss: 0.3597 - val_acc: 0.8507
Epoch 13/70
6890/7000 [============================>.] - ETA: 0s - loss: 0.3571 - acc: 0.8515
Epoch 00013: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 162us/sample - loss: 0.3576 - acc: 0.8517 - val_loss: 0.3555 - val_acc: 0.8497
Epoch 14/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.3505 - acc: 0.8560
Epoch 00014: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3535 - acc: 0.8549 - val_loss: 0.3524 - val_acc: 0.8533
Epoch 15/70
6690/7000 [===========================>..] - ETA: 0s - loss: 0.3511 - acc: 0.8555
Epoch 00015: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3505 - acc: 0.8553 - val_loss: 0.3508 - val_acc: 0.8533
Epoch 16/70
6680/7000 [===========================>..] - ETA: 0s - loss: 0.3484 - acc: 0.8600
Epoch 00016: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 157us/sample - loss: 0.3478 - acc: 0.8603 - val_loss: 0.3484 - val_acc: 0.8540
Epoch 17/70
6580/7000 [===========================>..] - ETA: 0s - loss: 0.3430 - acc: 0.8597
Epoch 00017: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3462 - acc: 0.8581 - val_loss: 0.3460 - val_acc: 0.8567
Epoch 18/70
6700/7000 [===========================>..] - ETA: 0s - loss: 0.3443 - acc: 0.8606
Epoch 00018: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3447 - acc: 0.8604 - val_loss: 0.3438 - val_acc: 0.8583
Epoch 19/70
6670/7000 [===========================>..] - ETA: 0s - loss: 0.3436 - acc: 0.8600
Epoch 00019: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3431 - acc: 0.8603 - val_loss: 0.3409 - val_acc: 0.8590
Epoch 20/70
6990/7000 [============================>.] - ETA: 0s - loss: 0.3421 - acc: 0.8612
Epoch 00020: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3420 - acc: 0.8611 - val_loss: 0.3408 - val_acc: 0.8553
Epoch 21/70
6780/7000 [============================>.] - ETA: 0s - loss: 0.3392 - acc: 0.8624
Epoch 00021: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3409 - acc: 0.8619 - val_loss: 0.3434 - val_acc: 0.8553
Epoch 22/70
6830/7000 [============================>.] - ETA: 0s - loss: 0.3396 - acc: 0.8624
Epoch 00022: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 145us/sample - loss: 0.3403 - acc: 0.8623 - val_loss: 0.3390 - val_acc: 0.8603
Epoch 23/70
6770/7000 [============================>.] - ETA: 0s - loss: 0.3417 - acc: 0.8592
Epoch 00023: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3395 - acc: 0.8604 - val_loss: 0.3381 - val_acc: 0.8583
Epoch 24/70
6650/7000 [===========================>..] - ETA: 0s - loss: 0.3406 - acc: 0.8606
Epoch 00024: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3386 - acc: 0.8621 - val_loss: 0.3376 - val_acc: 0.8577
Epoch 25/70
6750/7000 [===========================>..] - ETA: 0s - loss: 0.3364 - acc: 0.8631
Epoch 00025: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3385 - acc: 0.8620 - val_loss: 0.3362 - val_acc: 0.8600
Epoch 26/70
6740/7000 [===========================>..] - ETA: 0s - loss: 0.3390 - acc: 0.8641
Epoch 00026: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3375 - acc: 0.8640 - val_loss: 0.3352 - val_acc: 0.8573
Epoch 27/70
6710/7000 [===========================>..] - ETA: 0s - loss: 0.3381 - acc: 0.8629
Epoch 00027: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3373 - acc: 0.8633 - val_loss: 0.3354 - val_acc: 0.8603
Epoch 28/70
6670/7000 [===========================>..] - ETA: 0s - loss: 0.3384 - acc: 0.8612
Epoch 00028: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3370 - acc: 0.8624 - val_loss: 0.3344 - val_acc: 0.8597
Epoch 29/70
6920/7000 [============================>.] - ETA: 0s - loss: 0.3375 - acc: 0.8629
Epoch 00029: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3371 - acc: 0.8629 - val_loss: 0.3351 - val_acc: 0.8580
Epoch 30/70
6580/7000 [===========================>..] - ETA: 0s - loss: 0.3395 - acc: 0.8609
Epoch 00030: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3367 - acc: 0.8636 - val_loss: 0.3327 - val_acc: 0.8597
Epoch 31/70
6690/7000 [===========================>..] - ETA: 0s - loss: 0.3392 - acc: 0.8625
Epoch 00031: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3371 - acc: 0.8634 - val_loss: 0.3330 - val_acc: 0.8603
Epoch 32/70
6660/7000 [===========================>..] - ETA: 0s - loss: 0.3370 - acc: 0.8628
Epoch 00032: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3368 - acc: 0.8629 - val_loss: 0.3359 - val_acc: 0.8580
Epoch 33/70
6950/7000 [============================>.] - ETA: 0s - loss: 0.3343 - acc: 0.8629
Epoch 00033: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3362 - acc: 0.8619 - val_loss: 0.3325 - val_acc: 0.8600
Epoch 34/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.3334 - acc: 0.8645
Epoch 00034: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3357 - acc: 0.8631 - val_loss: 0.3335 - val_acc: 0.8600
Epoch 35/70
6560/7000 [===========================>..] - ETA: 0s - loss: 0.3372 - acc: 0.8636
Epoch 00035: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3353 - acc: 0.8633 - val_loss: 0.3336 - val_acc: 0.8600
Epoch 36/70
6980/7000 [============================>.] - ETA: 0s - loss: 0.3357 - acc: 0.8629
Epoch 00036: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3355 - acc: 0.8629 - val_loss: 0.3349 - val_acc: 0.8580
Epoch 37/70
6600/7000 [===========================>..] - ETA: 0s - loss: 0.3343 - acc: 0.8626
Epoch 00037: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3354 - acc: 0.8630 - val_loss: 0.3313 - val_acc: 0.8590
Epoch 38/70
6990/7000 [============================>.] - ETA: 0s - loss: 0.3361 - acc: 0.8628
Epoch 00038: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3359 - acc: 0.8629 - val_loss: 0.3319 - val_acc: 0.8600
Epoch 39/70
6690/7000 [===========================>..] - ETA: 0s - loss: 0.3354 - acc: 0.8637
Epoch 00039: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3359 - acc: 0.8633 - val_loss: 0.3330 - val_acc: 0.8607
Epoch 40/70
6970/7000 [============================>.] - ETA: 0s - loss: 0.3350 - acc: 0.8628
Epoch 00040: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3347 - acc: 0.8631 - val_loss: 0.3365 - val_acc: 0.8603
Epoch 41/70
6950/7000 [============================>.] - ETA: 0s - loss: 0.3357 - acc: 0.8610
Epoch 00041: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3356 - acc: 0.8613 - val_loss: 0.3346 - val_acc: 0.8597
Epoch 42/70
6590/7000 [===========================>..] - ETA: 0s - loss: 0.3372 - acc: 0.8616
Epoch 00042: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3350 - acc: 0.8631 - val_loss: 0.3307 - val_acc: 0.8617
Epoch 43/70
6960/7000 [============================>.] - ETA: 0s - loss: 0.3354 - acc: 0.8609
Epoch 00043: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3348 - acc: 0.8610 - val_loss: 0.3353 - val_acc: 0.8590
Epoch 44/70
6940/7000 [============================>.] - ETA: 0s - loss: 0.3358 - acc: 0.8634
Epoch 00044: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3354 - acc: 0.8636 - val_loss: 0.3329 - val_acc: 0.8583
Epoch 45/70
6610/7000 [===========================>..] - ETA: 0s - loss: 0.3332 - acc: 0.8654
Epoch 00045: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3348 - acc: 0.8649 - val_loss: 0.3326 - val_acc: 0.8587
Epoch 46/70
6960/7000 [============================>.] - ETA: 0s - loss: 0.3345 - acc: 0.8644
Epoch 00046: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3353 - acc: 0.8640 - val_loss: 0.3311 - val_acc: 0.8593
Epoch 47/70
6920/7000 [============================>.] - ETA: 0s - loss: 0.3341 - acc: 0.8627
Epoch 00047: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3348 - acc: 0.8619 - val_loss: 0.3319 - val_acc: 0.8607
Epoch 48/70
6840/7000 [============================>.] - ETA: 0s - loss: 0.3351 - acc: 0.8623
Epoch 00048: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3348 - acc: 0.8627 - val_loss: 0.3316 - val_acc: 0.8570
Epoch 49/70
6840/7000 [============================>.] - ETA: 0s - loss: 0.3324 - acc: 0.8640
Epoch 00049: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3348 - acc: 0.8634 - val_loss: 0.3338 - val_acc: 0.8573
Epoch 50/70
6980/7000 [============================>.] - ETA: 0s - loss: 0.3352 - acc: 0.8636
Epoch 00050: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3349 - acc: 0.8637 - val_loss: 0.3305 - val_acc: 0.8613
Epoch 51/70
6950/7000 [============================>.] - ETA: 0s - loss: 0.3333 - acc: 0.8619
Epoch 00051: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3342 - acc: 0.8616 - val_loss: 0.3355 - val_acc: 0.8573
Epoch 52/70
6630/7000 [===========================>..] - ETA: 0s - loss: 0.3352 - acc: 0.8623
Epoch 00052: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3339 - acc: 0.8633 - val_loss: 0.3330 - val_acc: 0.8607
Epoch 53/70
6810/7000 [============================>.] - ETA: 0s - loss: 0.3345 - acc: 0.8631
Epoch 00053: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 154us/sample - loss: 0.3348 - acc: 0.8634 - val_loss: 0.3321 - val_acc: 0.8573
Epoch 54/70
6800/7000 [============================>.] - ETA: 0s - loss: 0.3322 - acc: 0.8625
Epoch 00054: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3348 - acc: 0.8614 - val_loss: 0.3313 - val_acc: 0.8607
Epoch 55/70
6560/7000 [===========================>..] - ETA: 0s - loss: 0.3354 - acc: 0.8613
Epoch 00055: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3345 - acc: 0.8623 - val_loss: 0.3306 - val_acc: 0.8587
Epoch 56/70
6990/7000 [============================>.] - ETA: 0s - loss: 0.3343 - acc: 0.8631
Epoch 00056: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3345 - acc: 0.8630 - val_loss: 0.3326 - val_acc: 0.8573
Epoch 57/70
6880/7000 [============================>.] - ETA: 0s - loss: 0.3344 - acc: 0.8619
Epoch 00057: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3347 - acc: 0.8626 - val_loss: 0.3302 - val_acc: 0.8603
Epoch 58/70
6570/7000 [===========================>..] - ETA: 0s - loss: 0.3372 - acc: 0.8623
Epoch 00058: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3350 - acc: 0.8624 - val_loss: 0.3321 - val_acc: 0.8580
Epoch 59/70
6750/7000 [===========================>..] - ETA: 0s - loss: 0.3355 - acc: 0.8636
Epoch 00059: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 154us/sample - loss: 0.3345 - acc: 0.8637 - val_loss: 0.3314 - val_acc: 0.8607
Epoch 60/70
6980/7000 [============================>.] - ETA: 0s - loss: 0.3350 - acc: 0.8612
Epoch 00060: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3346 - acc: 0.8613 - val_loss: 0.3349 - val_acc: 0.8543
Epoch 61/70
6660/7000 [===========================>..] - ETA: 0s - loss: 0.3340 - acc: 0.8634
Epoch 00061: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3340 - acc: 0.8634 - val_loss: 0.3299 - val_acc: 0.8610
Epoch 62/70
6980/7000 [============================>.] - ETA: 0s - loss: 0.3351 - acc: 0.8623
Epoch 00062: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3345 - acc: 0.8627 - val_loss: 0.3347 - val_acc: 0.8580
Epoch 63/70
6570/7000 [===========================>..] - ETA: 0s - loss: 0.3344 - acc: 0.8636
Epoch 00063: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3346 - acc: 0.8641 - val_loss: 0.3306 - val_acc: 0.8593
Epoch 64/70
6970/7000 [============================>.] - ETA: 0s - loss: 0.3337 - acc: 0.8624
Epoch 00064: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3347 - acc: 0.8619 - val_loss: 0.3311 - val_acc: 0.8587
Epoch 65/70
6920/7000 [============================>.] - ETA: 0s - loss: 0.3350 - acc: 0.8633
Epoch 00065: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3343 - acc: 0.8633 - val_loss: 0.3318 - val_acc: 0.8593
Epoch 66/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.3324 - acc: 0.8628
Epoch 00066: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3344 - acc: 0.8626 - val_loss: 0.3308 - val_acc: 0.8603
Epoch 67/70
6860/7000 [============================>.] - ETA: 0s - loss: 0.3341 - acc: 0.8638
Epoch 00067: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3340 - acc: 0.8637 - val_loss: 0.3320 - val_acc: 0.8590
Epoch 68/70
6920/7000 [============================>.] - ETA: 0s - loss: 0.3345 - acc: 0.8633
Epoch 00068: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3340 - acc: 0.8636 - val_loss: 0.3304 - val_acc: 0.8583
Epoch 69/70
6730/7000 [===========================>..] - ETA: 0s - loss: 0.3314 - acc: 0.8626
Epoch 00069: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3336 - acc: 0.8620 - val_loss: 0.3330 - val_acc: 0.8560
Epoch 70/70
6610/7000 [===========================>..] - ETA: 0s - loss: 0.3367 - acc: 0.8605
Epoch 00070: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3340 - acc: 0.8616 - val_loss: 0.3323 - val_acc: 0.8590

In [39]:
!ls {checkpoint_dir}

checkpoint		     cp.ckpt.data-00001-of-00002
cp.ckpt.data-00000-of-00002  cp.ckpt.index

In [40]:
model.evaluate(X_train, y_train, batch_size = 10)

7000/7000 [==============================] - 0s 67us/sample - loss: 0.3327 - acc: 0.8629

[0.3327235257306269, 0.86285716]

###test score

In [41]:
model.evaluate(X_test, y_test)

3000/3000 [==============================] - 0s 26us/sample - loss: 0.3323 - acc: 0.8590

[0.33233984247843423, 0.859]

### Step 7:- make predictions

In [42]:
y_pred = model.predict(X_test)
y_pred[:2]

array([[0.31126678],
       [0.2631623 ]], dtype=float32)

In [0]:
y_pred = y_pred.reshape((y_pred.shape[0]))

In [44]:
y_pred

array([0.31126678, 0.2631623 , 0.13478377, ..., 0.06294498, 0.03133217,
       0.7786493 ], dtype=float32)

In [45]:
y_test

array([0, 1, 0, ..., 0, 0, 1])

In [46]:
y_pred.shape, y_test.shape

((3000,), (3000,))

In [47]:
from sklearn.metrics import confusion_matrix
f_ypred = [1 if i > .5 else 0 for i in y_pred]
confusion_matrix(y_test, f_ypred)

array([[2281,   98],
       [ 325,  296]])

##How to use saved model

In [50]:
model2 = create_model()
model2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_7 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [51]:
model2.evaluate(X_test, y_test)

3000/3000 [==============================] - 0s 32us/sample - loss: 0.5942 - acc: 0.6613

[0.5942327877680461, 0.6613333]

In [52]:
model2.load_weights(checkpoint_path)

In [53]:
model2.evaluate(X_test, y_test)

3000/3000 [==============================] - 0s 26us/sample - loss: 0.3323 - acc: 0.8590

[0.33233984247843423, 0.859]

In [54]:
!ls {checkpoint_dir}

checkpoint		     cp.ckpt.data-00001-of-00002
cp.ckpt.data-00000-of-00002  cp.ckpt.index

In [48]:
end = time.time()
tpu_runtime = end - start
print(f'tpu run time is {tpu_runtime} seconds')

tpu run time is 360.7293882369995 seconds