<a href="https://colab.research.google.com/github/noushadkhan01/Projects/blob/master/Deep-Learning/ANN/Classification/ANN_model_for_classification_on_Chunk_dataset_for_bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
df = pd.read_csv('https://bit.ly/2QMuIPs')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:
df.shape

(10000, 14)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [0]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

## check for null values

In [0]:
df.isnull().sum().sort_values(ascending = False)[:2]

Exited             0
EstimatedSalary    0
dtype: int64

**^^as u can see there is no null value**

In [0]:
df.skew()

RowNumber          0.000000
CustomerId         0.001149
CreditScore       -0.071607
Age                1.011320
Tenure             0.010991
Balance           -0.141109
NumOfProducts      0.745568
HasCrCard         -0.901812
IsActiveMember    -0.060437
EstimatedSalary    0.002085
Exited             1.471611
dtype: float64

In [0]:
np.log1p(df.Age).skew()

0.20336041516983316

## import important dependencies

In [0]:
import tensorflow as tf
from tensorflow import keras

In [0]:
df.head(1)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.0,1,1,1,101348.88,1

In [0]:
df = df.iloc[:, 3:]
df.head(1)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.0,1,1,1,101348.88,1

In [0]:
df = pd.get_dummies(df, drop_first = True)
df.head(1)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.0,1,1,1,101348.88,1,0,0,0

In [0]:
X = df.drop('Exited', 1)
y = df.Exited
X.shape, y.shape

((10000, 11), (10000,))

## StandardScaler

We need to scale out data before applying to neural network becuase of speed

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.3, random_state = 0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((7000, 11), (3000, 11), (7000,), (3000,))

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()

In [0]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train[:1], X_test[:1]

(array([[-0.09792126, -0.55759842, -1.03635146,  1.13249447,  0.81039385,
          0.64198477,  0.96683535, -0.76862426, -0.56987189, -0.5731713 ,
          0.92295821]]),
 array([[5.97000000e+02, 3.50000000e+01, 8.00000000e+00, 1.31101040e+05,
         1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.92852670e+05,
         1.00000000e+00, 2.79141789e-17, 8.98329030e-17]]))

In [0]:
y_train = y_train.values
y_test = y_test.values
y_train[:2], y_test[:2]

(array([1, 0]), array([0, 1]))

# Make ANN

In [0]:
from tensorflow import keras

## import Sequential from keras
**it is required to initialize our neural network model**

### Step 1:- create ann model by sequential

In [0]:
#1 first initialize our keras model by Sequential
model = keras.models.Sequential()
model

### Step 2:- Add dense layer

if a data is linenarly separable then their is no need to add hidden layer or don't even need a neural networks by convention

**Tip:-- ** no. of nodes in hidden layers is the average of no. of nodes in input layers and no. of node in output layer

In [0]:
ninput = 11 #no of independent variables
noutput = 1 #output is either 1 or either 0 so no of hidden layers in output is 1
nhidden = (ninput + noutput) / 2
nhidden

6.0

In [0]:
model.add(keras.layers.Dense(units = 6, activation = tf.nn.relu, input_dim = 11))

In [0]:
model

### add 2nd layer

In [0]:
model.add(keras.layers.Dense(units = 6, activation = tf.nn.relu))
model

### Step 3:- add output layer

**there are two types of activation function for output of categorical varibles **
- 1**softmax**, which is used when dependent varible have more than two categorical variables
- 2 **sigmoid** , which is used when dependent varable have 2 categorical variables

In [0]:
model.add(keras.layers.Dense(units = 1, activation = tf.nn.sigmoid))

In [0]:
model

In [0]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

## Step 4:-- compile the model
apply stochastic gradient descent method

In [0]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model

### Step 5:-- fit the model

batch_size = no. of observation afterwhich u want to update the weights

In [0]:
model.fit(X_train, y_train, batch_size = 10 , epochs = 100)

Epoch 1/100
7000/7000 [==============================] - 2s 218us/step - loss: 0.5274 - acc: 0.7604
Epoch 2/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.4492 - acc: 0.7981
Epoch 3/100
7000/7000 [==============================] - 1s 103us/step - loss: 0.4286 - acc: 0.8049
Epoch 4/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.4011 - acc: 0.8309
Epoch 5/100
7000/7000 [==============================] - 1s 101us/step - loss: 0.3798 - acc: 0.8419
Epoch 6/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3691 - acc: 0.8481
Epoch 7/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3634 - acc: 0.8493
Epoch 8/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3599 - acc: 0.8503
Epoch 9/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3583 - acc: 0.8503
Epoch 10/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3565 - acc: 0.8520
Epoch 11/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3551 - acc: 0.8524
Epoch 12/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3536 - acc: 0.8550
Epoch 13/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3523 - acc: 0.8537
Epoch 14/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3510 - acc: 0.8553
Epoch 15/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3496 - acc: 0.8553
Epoch 16/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3497 - acc: 0.8564
Epoch 17/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3483 - acc: 0.8570
Epoch 18/100
7000/7000 [==============================] - 1s 103us/step - loss: 0.3475 - acc: 0.8583
Epoch 19/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3468 - acc: 0.8600
Epoch 20/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3458 - acc: 0.8596
Epoch 21/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3455 - acc: 0.8604
Epoch 22/100
7000/7000 [==============================] - 1s 101us/step - loss: 0.3446 - acc: 0.8620
Epoch 23/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3439 - acc: 0.8603
Epoch 24/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3433 - acc: 0.8620
Epoch 25/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3430 - acc: 0.8609
Epoch 26/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3427 - acc: 0.8607
Epoch 27/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3419 - acc: 0.8604
Epoch 28/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3418 - acc: 0.8620
Epoch 29/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3413 - acc: 0.8611
Epoch 30/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3407 - acc: 0.8614
Epoch 31/100
7000/7000 [==============================] - 1s 101us/step - loss: 0.3409 - acc: 0.8620
Epoch 32/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3402 - acc: 0.8627
Epoch 33/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3399 - acc: 0.8637
Epoch 34/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3395 - acc: 0.8610
Epoch 35/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3393 - acc: 0.8644
Epoch 36/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3386 - acc: 0.8617
Epoch 37/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3387 - acc: 0.8617
Epoch 38/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3382 - acc: 0.8627
Epoch 39/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3379 - acc: 0.8634
Epoch 40/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3379 - acc: 0.8600
Epoch 41/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3377 - acc: 0.8617
Epoch 42/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3373 - acc: 0.8613
Epoch 43/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3370 - acc: 0.8629
Epoch 44/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3370 - acc: 0.8624
Epoch 45/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3369 - acc: 0.8610
Epoch 46/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3365 - acc: 0.8630
Epoch 47/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3368 - acc: 0.8637
Epoch 48/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3361 - acc: 0.8626
Epoch 49/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3357 - acc: 0.8614
Epoch 50/100
7000/7000 [==============================] - 1s 101us/step - loss: 0.3356 - acc: 0.8633
Epoch 51/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3356 - acc: 0.8637
Epoch 52/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3356 - acc: 0.8619
Epoch 53/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3351 - acc: 0.8634
Epoch 54/100
7000/7000 [==============================] - 1s 97us/step - loss: 0.3353 - acc: 0.8631
Epoch 55/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3346 - acc: 0.8634
Epoch 56/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3350 - acc: 0.8634
Epoch 57/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3341 - acc: 0.8616
Epoch 58/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3347 - acc: 0.8626
Epoch 59/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3344 - acc: 0.8603
Epoch 60/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3341 - acc: 0.8631
Epoch 61/100
7000/7000 [==============================] - 1s 101us/step - loss: 0.3339 - acc: 0.8636
Epoch 62/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3344 - acc: 0.8629
Epoch 63/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3338 - acc: 0.8621
Epoch 64/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3338 - acc: 0.8620
Epoch 65/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3341 - acc: 0.8626
Epoch 66/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3336 - acc: 0.8617
Epoch 67/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3335 - acc: 0.8634
Epoch 68/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3334 - acc: 0.8629
Epoch 69/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3336 - acc: 0.8631
Epoch 70/100
7000/7000 [==============================] - 1s 97us/step - loss: 0.3336 - acc: 0.8626
Epoch 71/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3334 - acc: 0.8619
Epoch 72/100
7000/7000 [==============================] - 1s 103us/step - loss: 0.3325 - acc: 0.8637
Epoch 73/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3334 - acc: 0.8627
Epoch 74/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3325 - acc: 0.8644
Epoch 75/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3326 - acc: 0.8623
Epoch 76/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3328 - acc: 0.8637
Epoch 77/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3323 - acc: 0.8616
Epoch 78/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3324 - acc: 0.8621
Epoch 79/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3326 - acc: 0.8631
Epoch 80/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3319 - acc: 0.8633
Epoch 81/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3323 - acc: 0.8621
Epoch 82/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3323 - acc: 0.8630
Epoch 83/100
7000/7000 [==============================] - 1s 97us/step - loss: 0.3319 - acc: 0.8633
Epoch 84/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3322 - acc: 0.8640
Epoch 85/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3316 - acc: 0.8647
Epoch 86/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3315 - acc: 0.8657
Epoch 87/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3316 - acc: 0.8636
Epoch 88/100
7000/7000 [==============================] - 1s 97us/step - loss: 0.3319 - acc: 0.8626
Epoch 89/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3314 - acc: 0.8641
Epoch 90/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3318 - acc: 0.8640
Epoch 91/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3317 - acc: 0.8636
Epoch 92/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3314 - acc: 0.8637
Epoch 93/100
7000/7000 [==============================] - 1s 97us/step - loss: 0.3315 - acc: 0.8629
Epoch 94/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3309 - acc: 0.8637
Epoch 95/100
7000/7000 [==============================] - 1s 104us/step - loss: 0.3318 - acc: 0.8654
Epoch 96/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3311 - acc: 0.8646
Epoch 97/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3312 - acc: 0.8634
Epoch 98/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3312 - acc: 0.8653
Epoch 99/100
7000/7000 [==============================] - 1s 98us/step - loss: 0.3311 - acc: 0.8627
Epoch 100/100
7000/7000 [==============================] - 1s 99us/step - loss: 0.3311 - acc: 0.8639

### Step 7:- make predictions

In [0]:
y_pred = model.predict(X_test)
y_pred[:2]

array([[0.],
       [0.]], dtype=float32)

In [0]:
y_pred = y_pred.reshape((y_pred.shape[0]))

In [0]:
y_pred

array([0., 0., 0., ..., 0., 0., 0.], dtype=float32)

In [0]:
y_test

array([0, 1, 0, ..., 0, 0, 1])

In [0]:
y_pred.shape, y_test.shape

((3000,), (3000,))

In [0]:
f_ypred = [1 if i > .5 else 0 for i in y_pred]
confusion_matrix(y_test, f_ypred)

array([[1520,  859],
       [ 475,  146]])