<a href="https://colab.research.google.com/github/noushadkhan01/Projects/blob/master/Deep-Learning/ANN/Classification/ANN_model_for_classification_on_Chunk_dataset_for_bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import time
start = time.time()
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('https://bit.ly/2QMuIPs')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
df.shape

(10000, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

## check for null values

In [6]:
df.isnull().sum().sort_values(ascending = False)[:2]

Exited             0
EstimatedSalary    0
dtype: int64

**^^as u can see there is no null value**

In [7]:
df.skew()

RowNumber          0.000000
CustomerId         0.001149
CreditScore       -0.071607
Age                1.011320
Tenure             0.010991
Balance           -0.141109
NumOfProducts      0.745568
HasCrCard         -0.901812
IsActiveMember    -0.060437
EstimatedSalary    0.002085
Exited             1.471611
dtype: float64

In [8]:
np.log1p(df.Age).skew()

0.20336041516983316

## import important dependencies

In [0]:
import tensorflow as tf
from tensorflow import keras

In [10]:
df.head(1)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1

[1 rows x 14 columns]

In [11]:
df = df.iloc[:, 3:]
df.head(1)

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1

[1 rows x 11 columns]

In [12]:
df = pd.get_dummies(df, drop_first = True)
df.head(1)

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0

[1 rows x 12 columns]

In [13]:
X = df.drop('Exited', 1)
y = df.Exited
X.shape, y.shape

((10000, 11), (10000,))

## StandardScaler

We need to scale out data before applying to neural network becuase of speed

In [0]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.3, random_state = 0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((7000, 11), (3000, 11), (7000,), (3000,))

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()

In [18]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train[:1], X_test[:1]

(array([[-0.09792126, -0.55759842, -1.03635146,  1.13249447,  0.81039385,
          0.64198477,  0.96683535, -0.76862426, -0.56987189, -0.5731713 ,
          0.92295821]]),
 array([[-0.55032881, -0.36597914,  1.0436811 ,  0.89172052, -0.92971564,
          0.64198477,  0.96683535,  1.61245299,  1.75478035, -0.5731713 ,
         -1.08347268]]))

In [19]:
y_train = y_train.values
y_test = y_test.values
y_train[:2], y_test[:2]

(array([1, 0]), array([0, 1]))

# Make ANN

In [0]:
from tensorflow import keras

## import Sequential from keras
**it is required to initialize our neural network model**

### Step 1:- create ann model by sequential

In [21]:
#1 first initialize our keras model by Sequential
model = keras.models.Sequential()
model

### Step 2:- Add dense layer

if a data is linenarly separable then their is no need to add hidden layer or don't even need a neural networks by convention

**Tip:-- ** no. of nodes in hidden layers is the average of no. of nodes in input layers and no. of node in output layer

In [22]:
ninput = 11 #no of independent variables
noutput = 1 #output is either 1 or either 0 so no of hidden layers in output is 1
nhidden = (ninput + noutput) / 2
nhidden

6.0

In [23]:
model.add(keras.layers.Dense(units = 6, activation = tf.nn.relu, input_dim = 11))

WARNING: Logging before flag parsing goes to stderr.
W0808 11:32:48.253828 140565524244352 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [24]:
model

### add 2nd layer

In [25]:
model.add(keras.layers.Dense(units = 6, activation = tf.nn.relu))
model

### Step 3:- add output layer

**there are two types of activation function for output of categorical varibles **
- 1**softmax**, which is used when dependent varible have more than two categorical variables
- 2 **sigmoid** , which is used when dependent varable have 2 categorical variables

In [0]:
model.add(keras.layers.Dense(units = 1, activation = tf.nn.sigmoid))

In [27]:
model

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

## Step 4:-- compile the model
apply stochastic gradient descent method

In [29]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model

W0808 11:32:48.491668 140565524244352 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

### Step 5:-- fit the model

batch_size = no. of observation afterwhich u want to update the weights

In [0]:
import os
checkpoint_path = "training_1/cp.ckpt"
checkpoint_dir = os.path.dirname(checkpoint_path)

# Create checkpoint callback
cp_callback = tf.keras.callbacks.ModelCheckpoint(checkpoint_path,
                                                 save_weights_only=True,
                                                 verbose=1)

In [32]:
model.fit(X_train, y_train, batch_size = 10 , epochs = 70,verbose = 1,  class_weight = 'balanced', 
          validation_data = (X_test, y_test), callbacks = [cp_callback])

Train on 7000 samples, validate on 3000 samples
Epoch 1/70
6660/7000 [===========================>..] - ETA: 0s - loss: 0.4875 - acc: 0.8021
Epoch 00001: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 213us/sample - loss: 0.4863 - acc: 0.8017 - val_loss: 0.4459 - val_acc: 0.8150
Epoch 2/70
6770/7000 [============================>.] - ETA: 0s - loss: 0.4334 - acc: 0.8148
Epoch 00002: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.4340 - acc: 0.8146 - val_loss: 0.4257 - val_acc: 0.8267
Epoch 3/70
6610/7000 [===========================>..] - ETA: 0s - loss: 0.4209 - acc: 0.8198
Epoch 00003: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.4223 - acc: 0.8201 - val_loss: 0.4162 - val_acc: 0.8293
Epoch 4/70
6880/7000 [============================>.] - ETA: 0s - loss: 0.4154 - acc: 0.8247
Epoch 00004: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.4157 - acc: 0.8241 - val_loss: 0.4119 - val_acc: 0.8313
Epoch 5/70
6710/7000 [===========================>..] - ETA: 0s - loss: 0.4123 - acc: 0.8271
Epoch 00005: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.4115 - acc: 0.8271 - val_loss: 0.4085 - val_acc: 0.8363
Epoch 6/70
6650/7000 [===========================>..] - ETA: 0s - loss: 0.4059 - acc: 0.8298
Epoch 00006: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.4084 - acc: 0.8283 - val_loss: 0.4071 - val_acc: 0.8357
Epoch 7/70
6650/7000 [===========================>..] - ETA: 0s - loss: 0.4041 - acc: 0.8296
Epoch 00007: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.4054 - acc: 0.8296 - val_loss: 0.4050 - val_acc: 0.8390
Epoch 8/70
6630/7000 [===========================>..] - ETA: 0s - loss: 0.4068 - acc: 0.8305
Epoch 00008: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.4034 - acc: 0.8320 - val_loss: 0.4040 - val_acc: 0.8383
Epoch 9/70
6600/7000 [===========================>..] - ETA: 0s - loss: 0.4022 - acc: 0.8320
Epoch 00009: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.4011 - acc: 0.8330 - val_loss: 0.4026 - val_acc: 0.8373
Epoch 10/70
6550/7000 [===========================>..] - ETA: 0s - loss: 0.4003 - acc: 0.8316
Epoch 00010: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3985 - acc: 0.8319 - val_loss: 0.4013 - val_acc: 0.8333
Epoch 11/70
6630/7000 [===========================>..] - ETA: 0s - loss: 0.3968 - acc: 0.8324
Epoch 00011: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3944 - acc: 0.8330 - val_loss: 0.3989 - val_acc: 0.8310
Epoch 12/70
6660/7000 [===========================>..] - ETA: 0s - loss: 0.3876 - acc: 0.8342
Epoch 00012: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3892 - acc: 0.8333 - val_loss: 0.3937 - val_acc: 0.8300
Epoch 13/70
6720/7000 [===========================>..] - ETA: 0s - loss: 0.3825 - acc: 0.8382
Epoch 00013: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3821 - acc: 0.8381 - val_loss: 0.3862 - val_acc: 0.8347
Epoch 14/70
6900/7000 [============================>.] - ETA: 0s - loss: 0.3743 - acc: 0.8423
Epoch 00014: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3744 - acc: 0.8423 - val_loss: 0.3783 - val_acc: 0.8380
Epoch 15/70
6820/7000 [============================>.] - ETA: 0s - loss: 0.3692 - acc: 0.8455
Epoch 00015: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3692 - acc: 0.8450 - val_loss: 0.3763 - val_acc: 0.8433
Epoch 16/70
6960/7000 [============================>.] - ETA: 0s - loss: 0.3647 - acc: 0.8470
Epoch 00016: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3642 - acc: 0.8473 - val_loss: 0.3703 - val_acc: 0.8477
Epoch 17/70
6970/7000 [============================>.] - ETA: 0s - loss: 0.3604 - acc: 0.8515
Epoch 00017: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3604 - acc: 0.8516 - val_loss: 0.3663 - val_acc: 0.8473
Epoch 18/70
6630/7000 [===========================>..] - ETA: 0s - loss: 0.3598 - acc: 0.8511
Epoch 00018: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3574 - acc: 0.8524 - val_loss: 0.3624 - val_acc: 0.8457
Epoch 19/70
6770/7000 [============================>.] - ETA: 0s - loss: 0.3557 - acc: 0.8510
Epoch 00019: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3541 - acc: 0.8519 - val_loss: 0.3584 - val_acc: 0.8507
Epoch 20/70
6700/7000 [===========================>..] - ETA: 0s - loss: 0.3535 - acc: 0.8540
Epoch 00020: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3526 - acc: 0.8551 - val_loss: 0.3575 - val_acc: 0.8510
Epoch 21/70
6590/7000 [===========================>..] - ETA: 0s - loss: 0.3494 - acc: 0.8575
Epoch 00021: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3507 - acc: 0.8570 - val_loss: 0.3541 - val_acc: 0.8523
Epoch 22/70
6610/7000 [===========================>..] - ETA: 0s - loss: 0.3482 - acc: 0.8578
Epoch 00022: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3485 - acc: 0.8576 - val_loss: 0.3559 - val_acc: 0.8493
Epoch 23/70
6690/7000 [===========================>..] - ETA: 0s - loss: 0.3472 - acc: 0.8571
Epoch 00023: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3478 - acc: 0.8566 - val_loss: 0.3572 - val_acc: 0.8503
Epoch 24/70
6790/7000 [============================>.] - ETA: 0s - loss: 0.3476 - acc: 0.8576
Epoch 00024: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3469 - acc: 0.8583 - val_loss: 0.3511 - val_acc: 0.8537
Epoch 25/70
6660/7000 [===========================>..] - ETA: 0s - loss: 0.3472 - acc: 0.8586
Epoch 00025: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3458 - acc: 0.8591 - val_loss: 0.3494 - val_acc: 0.8540
Epoch 26/70
6640/7000 [===========================>..] - ETA: 0s - loss: 0.3465 - acc: 0.8550
Epoch 00026: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3452 - acc: 0.8551 - val_loss: 0.3466 - val_acc: 0.8570
Epoch 27/70
6850/7000 [============================>.] - ETA: 0s - loss: 0.3453 - acc: 0.8578
Epoch 00027: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3438 - acc: 0.8586 - val_loss: 0.3540 - val_acc: 0.8570
Epoch 28/70
6630/7000 [===========================>..] - ETA: 0s - loss: 0.3447 - acc: 0.8563
Epoch 00028: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 157us/sample - loss: 0.3449 - acc: 0.8561 - val_loss: 0.3484 - val_acc: 0.8547
Epoch 29/70
6750/7000 [===========================>..] - ETA: 0s - loss: 0.3442 - acc: 0.8585
Epoch 00029: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 156us/sample - loss: 0.3437 - acc: 0.8594 - val_loss: 0.3459 - val_acc: 0.8543
Epoch 30/70
6700/7000 [===========================>..] - ETA: 0s - loss: 0.3433 - acc: 0.8585
Epoch 00030: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3442 - acc: 0.8587 - val_loss: 0.3446 - val_acc: 0.8557
Epoch 31/70
6700/7000 [===========================>..] - ETA: 0s - loss: 0.3447 - acc: 0.8587
Epoch 00031: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3436 - acc: 0.8593 - val_loss: 0.3438 - val_acc: 0.8557
Epoch 32/70
6690/7000 [===========================>..] - ETA: 0s - loss: 0.3421 - acc: 0.8596
Epoch 00032: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3436 - acc: 0.8587 - val_loss: 0.3456 - val_acc: 0.8560
Epoch 33/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.3452 - acc: 0.8601
Epoch 00033: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3422 - acc: 0.8614 - val_loss: 0.3444 - val_acc: 0.8547
Epoch 34/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.3424 - acc: 0.8598
Epoch 00034: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3429 - acc: 0.8604 - val_loss: 0.3411 - val_acc: 0.8573
Epoch 35/70
6710/7000 [===========================>..] - ETA: 0s - loss: 0.3404 - acc: 0.8595
Epoch 00035: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3415 - acc: 0.8596 - val_loss: 0.3470 - val_acc: 0.8547
Epoch 36/70
6870/7000 [============================>.] - ETA: 0s - loss: 0.3403 - acc: 0.8608
Epoch 00036: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3412 - acc: 0.8604 - val_loss: 0.3434 - val_acc: 0.8573
Epoch 37/70
6990/7000 [============================>.] - ETA: 0s - loss: 0.3416 - acc: 0.8581
Epoch 00037: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 151us/sample - loss: 0.3421 - acc: 0.8579 - val_loss: 0.3424 - val_acc: 0.8600
Epoch 38/70
6770/7000 [============================>.] - ETA: 0s - loss: 0.3402 - acc: 0.8612
Epoch 00038: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3418 - acc: 0.8601 - val_loss: 0.3453 - val_acc: 0.8560
Epoch 39/70
6770/7000 [============================>.] - ETA: 0s - loss: 0.3411 - acc: 0.8597
Epoch 00039: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3405 - acc: 0.8599 - val_loss: 0.3445 - val_acc: 0.8553
Epoch 40/70
6880/7000 [============================>.] - ETA: 0s - loss: 0.3417 - acc: 0.8609
Epoch 00040: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3409 - acc: 0.8611 - val_loss: 0.3418 - val_acc: 0.8567
Epoch 41/70
6730/7000 [===========================>..] - ETA: 0s - loss: 0.3420 - acc: 0.8585
Epoch 00041: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3418 - acc: 0.8590 - val_loss: 0.3427 - val_acc: 0.8567
Epoch 42/70
6610/7000 [===========================>..] - ETA: 0s - loss: 0.3420 - acc: 0.8573
Epoch 00042: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3408 - acc: 0.8587 - val_loss: 0.3419 - val_acc: 0.8577
Epoch 43/70
6990/7000 [============================>.] - ETA: 0s - loss: 0.3404 - acc: 0.8599
Epoch 00043: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3408 - acc: 0.8597 - val_loss: 0.3398 - val_acc: 0.8567
Epoch 44/70
6700/7000 [===========================>..] - ETA: 0s - loss: 0.3410 - acc: 0.8593
Epoch 00044: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3409 - acc: 0.8596 - val_loss: 0.3415 - val_acc: 0.8567
Epoch 45/70
6590/7000 [===========================>..] - ETA: 0s - loss: 0.3363 - acc: 0.8601
Epoch 00045: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3393 - acc: 0.8587 - val_loss: 0.3475 - val_acc: 0.8537
Epoch 46/70
6600/7000 [===========================>..] - ETA: 0s - loss: 0.3391 - acc: 0.8639
Epoch 00046: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3402 - acc: 0.8636 - val_loss: 0.3429 - val_acc: 0.8537
Epoch 47/70
6710/7000 [===========================>..] - ETA: 0s - loss: 0.3384 - acc: 0.8590
Epoch 00047: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3399 - acc: 0.8586 - val_loss: 0.3423 - val_acc: 0.8547
Epoch 48/70
6720/7000 [===========================>..] - ETA: 0s - loss: 0.3398 - acc: 0.8606
Epoch 00048: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3399 - acc: 0.8607 - val_loss: 0.3458 - val_acc: 0.8537
Epoch 49/70
6740/7000 [===========================>..] - ETA: 0s - loss: 0.3358 - acc: 0.8605
Epoch 00049: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3388 - acc: 0.8597 - val_loss: 0.3447 - val_acc: 0.8530
Epoch 50/70
6660/7000 [===========================>..] - ETA: 0s - loss: 0.3387 - acc: 0.8590
Epoch 00050: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3389 - acc: 0.8587 - val_loss: 0.3424 - val_acc: 0.8570
Epoch 51/70
6760/7000 [===========================>..] - ETA: 0s - loss: 0.3394 - acc: 0.8605
Epoch 00051: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3388 - acc: 0.8613 - val_loss: 0.3435 - val_acc: 0.8597
Epoch 52/70
6700/7000 [===========================>..] - ETA: 0s - loss: 0.3388 - acc: 0.8606
Epoch 00052: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3383 - acc: 0.8604 - val_loss: 0.3505 - val_acc: 0.8493
Epoch 53/70
6720/7000 [===========================>..] - ETA: 0s - loss: 0.3389 - acc: 0.8622
Epoch 00053: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3392 - acc: 0.8620 - val_loss: 0.3436 - val_acc: 0.8583
Epoch 54/70
6850/7000 [============================>.] - ETA: 0s - loss: 0.3373 - acc: 0.8645
Epoch 00054: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3389 - acc: 0.8641 - val_loss: 0.3402 - val_acc: 0.8590
Epoch 55/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.3381 - acc: 0.8603
Epoch 00055: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3387 - acc: 0.8616 - val_loss: 0.3417 - val_acc: 0.8573
Epoch 56/70
6690/7000 [===========================>..] - ETA: 0s - loss: 0.3405 - acc: 0.8608
Epoch 00056: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3389 - acc: 0.8619 - val_loss: 0.3408 - val_acc: 0.8547
Epoch 57/70
6700/7000 [===========================>..] - ETA: 0s - loss: 0.3385 - acc: 0.8610
Epoch 00057: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3380 - acc: 0.8611 - val_loss: 0.3416 - val_acc: 0.8593
Epoch 58/70
6610/7000 [===========================>..] - ETA: 0s - loss: 0.3387 - acc: 0.8602
Epoch 00058: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3386 - acc: 0.8601 - val_loss: 0.3402 - val_acc: 0.8563
Epoch 59/70
6620/7000 [===========================>..] - ETA: 0s - loss: 0.3375 - acc: 0.8592
Epoch 00059: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3383 - acc: 0.8590 - val_loss: 0.3472 - val_acc: 0.8523
Epoch 60/70
6730/7000 [===========================>..] - ETA: 0s - loss: 0.3389 - acc: 0.8646
Epoch 00060: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3387 - acc: 0.8640 - val_loss: 0.3394 - val_acc: 0.8567
Epoch 61/70
6710/7000 [===========================>..] - ETA: 0s - loss: 0.3386 - acc: 0.8626
Epoch 00061: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3388 - acc: 0.8617 - val_loss: 0.3444 - val_acc: 0.8533
Epoch 62/70
6780/7000 [============================>.] - ETA: 0s - loss: 0.3370 - acc: 0.8625
Epoch 00062: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 145us/sample - loss: 0.3381 - acc: 0.8616 - val_loss: 0.3419 - val_acc: 0.8550
Epoch 63/70
6730/7000 [===========================>..] - ETA: 0s - loss: 0.3364 - acc: 0.8626
Epoch 00063: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3374 - acc: 0.8609 - val_loss: 0.3501 - val_acc: 0.8537
Epoch 64/70
6810/7000 [============================>.] - ETA: 0s - loss: 0.3383 - acc: 0.8620
Epoch 00064: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 145us/sample - loss: 0.3377 - acc: 0.8626 - val_loss: 0.3389 - val_acc: 0.8597
Epoch 65/70
6760/7000 [===========================>..] - ETA: 0s - loss: 0.3385 - acc: 0.8615
Epoch 00065: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3384 - acc: 0.8617 - val_loss: 0.3409 - val_acc: 0.8560
Epoch 66/70
6790/7000 [============================>.] - ETA: 0s - loss: 0.3392 - acc: 0.8611
Epoch 00066: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3392 - acc: 0.8610 - val_loss: 0.3423 - val_acc: 0.8563
Epoch 67/70
6770/7000 [============================>.] - ETA: 0s - loss: 0.3388 - acc: 0.8612
Epoch 00067: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3376 - acc: 0.8620 - val_loss: 0.3403 - val_acc: 0.8580
Epoch 68/70
6710/7000 [===========================>..] - ETA: 0s - loss: 0.3381 - acc: 0.8599
Epoch 00068: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3379 - acc: 0.8597 - val_loss: 0.3415 - val_acc: 0.8580
Epoch 69/70
6820/7000 [============================>.] - ETA: 0s - loss: 0.3368 - acc: 0.8611
Epoch 00069: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3376 - acc: 0.8609 - val_loss: 0.3450 - val_acc: 0.8573
Epoch 70/70
6780/7000 [============================>.] - ETA: 0s - loss: 0.3378 - acc: 0.8600
Epoch 00070: saving model to training_1/cp.ckpt
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3377 - acc: 0.8606 - val_loss: 0.3401 - val_acc: 0.8547

In [33]:
!ls {checkpoint_dir}

checkpoint		     cp.ckpt.data-00001-of-00002
cp.ckpt.data-00000-of-00002  cp.ckpt.index

In [32]:
model.evaluate(X_train, y_train, batch_size = 10)

7000/7000 [==============================] - 0s 60us/sample - loss: 0.3330 - acc: 0.8629

[0.3329931390285492, 0.86285716]

###test score

In [33]:
model.evaluate(X_test, y_test)

3000/3000 [==============================] - 0s 29us/sample - loss: 0.3383 - acc: 0.8597

[0.3382910006841024, 0.85966665]

### Step 7:- make predictions

In [109]:
y_pred = model.predict(X_test)
y_pred[:2]

array([[0.2960694 ],
       [0.26959217]], dtype=float32)

In [0]:
y_pred = y_pred.reshape((y_pred.shape[0]))

In [111]:
y_pred

array([0.2960694 , 0.26959217, 0.18748736, ..., 0.10858262, 0.09513777,
       0.6939407 ], dtype=float32)

In [112]:
y_test

array([0, 1, 0, ..., 0, 0, 1])

In [113]:
y_pred.shape, y_test.shape

((3000,), (3000,))

In [116]:
from sklearn.metrics import confusion_matrix
f_ypred = [1 if i > .5 else 0 for i in y_pred]
confusion_matrix(y_test, f_ypred)

array([[2259,  120],
       [ 303,  318]])

In [117]:
end = time.time()
tpu_runtime = end - start
print(f'tpu run time is {tpu_runtime} seconds')

tpu run time is 87.4222891330719 seconds